<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lst | Vue js</title>
    <link rel="stylesheet" href="todolist.css">
    <script src="vue.3.js"></script>
</head>

<body>

    <div id="app">
        <div class="container">
            <h1>My To Do List</h1>
            <input type="text" v-model="todo" @keyup.enter="addTodoElement" placeholder="Tape Here your thing to do">
            <button @click="addTodoElement" :disabled="!todo.length">Add</button>
            <hr>
            <ol>
                <li v-for="item in todos">
                    <div class="item">{{item}}</div>
                </li>
            </ol>
        </div>
    </div>
</body>
<script>
    var { createApp } = Vue
    createApp({
        data() {
            return {
                todo: '',
                todos: []
            }
        },
        methods: {
            addTodoElement: function () {
                this.todos.push(this.todo);
                this.todo = ""
            }
        }
    }).mount('#app')
</script>

</html>